name: Updating the resources
on:
  schedule:
    - cron: "0 0 * * *"
  push:
    paths:
      - "assets/**"
  workflow_dispatch:
jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
      - name: Set up Go version
        uses: actions/setup-go@v5.0.0
        with:
          go-version-file: "go.mod"
          cache: true
          check-latest: true
        id: go
      - name: Get dependencies
        run: go get .
      - name: Build Test
        run: go build .
      - name: Generating new resources.
        run: .\network-database.exe -update
      - name: Update resources
        run: |
          git config user.name "github-actions"       # Configures GitHub Actions bot as the commit author.
          git config user.email "github-actions@github.com"
          git add .                                    # Adds changes to the staging area.
          git commit -m "Automated update: $(date)"    # Commits changes with a timestamp.
          git pull --rebase origin main                # Rebases with remote main to avoid conflicts.
          git push origin main                         # Pushes the commit to the main branch.
